:root {
    --hover-color: #16DFB7; /* Initial hover color */
}

html, body {
    height: 100%;
    margin: 0;   
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 500px;  
    width: 500px;

    .grid-row {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;

        .grid-item {
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            flex: 1;
            height: 100%;

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}


