:root {
    --hover-color: #16DFB7; /* Initial hover color */
}

html, body {
    height: 100%;
    margin: 0;   
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 500px;  
    width: 500px;
    margin-top: 1rem;
    padding: 1px;
    border: 2px solid black;

    .grid-row {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;

        .grid-item {
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            flex: 1;

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}

.the-buttons {
    
    > * {
        margin-right: 1rem; 
    }

    > :last-child {
        margin-right: 0;
    }

    .slider-text{
        display: flex;
        justify-content: flex-end;
        margin-right: 2.5rem;
    }

    #mySlider{
        
    }

}

